# Node Modules
node_modules
client/node_modules
servers/main/node_modules

# IDE
.idea
.vscode

# envs
.env
.env.example
client/.env
servers/main/.env
servers/agent/.env

# venv
servers/agent/venv


# dist
client/dist
servers/main/dist
servers/agent/dist



